        <div class="d-lg-flex justify-content-lg-center mt-3">
      <div class="card col-lg-6 col-md-12 col-xs-12">
          <legend>
              <span class="label label-inverse mr-3">Student Updation</span>
            </legend>
        <div class="card-body">
            <form #myForm="ngForm" (ngSubmit)="onSubmit(); myForm.reset()">
              <div class="form-group">
                <label>Batch Name:</label>
                <select class="form-control custom-select" id="sdubname" name="batchId" #mySelect1 [(ngModel)]='bat.batchId' (change)='onOptionsSelected(mySelect1.value)'>
                  <option *ngFor="let abc of assign" value="{{abc.batchId}}">{{abc.batchName}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Student Name :</label>
                <select class="form-control custom-select" id="sdusname" [(ngModel)]="bat.studentId" name="stuId">
                  <option *ngFor="let sub of getassign" value="{{sub.studentId}}">{{sub.studentName}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Date :</label>
                <input type="date" class="form-control" id="sdudate" [(ngModel)]="bat.date" name="date">
              </div>
              <div class="form-group">
                <label>Student Status :</label>
                <select class="form-control custom-select" name="studnetstatus" #mySelect (change)='onchange(mySelect.value)' id="sdusyayus" [(ngModel)]="bat.status">
                  <option value="deployed">Deployed</option>
                  <option value="terminated">Terminated</option>
                  <option value="discontinued">Discontinued</option>
                </select>
              </div>
              <div class="form-group" id="team" style='display:none;'>
                <label>Team Name :</label>
                <br>
                <input type="text" class="form-control" name="team" [(ngModel)]="bat.teamName">
              </div>
              <div class="form-group" id="reason" style='display:none;'>
                <label>Reason :</label>
                <textarea class="form-control" name="reason" [(ngModel)]="bat.reason"></textarea>
              </div>
              <button class="btn btn-primary my-2" id="submitstudnetupdation" data-toggle="modal" data-target="#exampleModal">Submit</button>
              <br>
            </form>
        </div>
      </div></div>
   