        <div class="d-flex justify-content-center">
      <div class="card col-md-12 col-lg-6 mt-3">
          <legend>
              <span class="label label-inverse mr-3">Assign Students</span>
            </legend>
        <div class="card-body">
            <form #myForm="ngForm" (ngSubmit)="onSubmit(); myForm.reset()">
              <div class="d-lg-flex d-md-flex flex-lg-row flex-sm-column">
                <div class="form-group col-lg-6">
                  <label>Batch Names:</label>
                  <select class="form-control custom-select" id="asbname" [(ngModel)]="sub1.batchId" name="batchId" #mySelect (change)='onOptionsSelected(mySelect.value)'>
                    <option *ngFor="let abc of assign" value="{{abc.batchId}}">{{abc.batchName}}</option>
                  </select>
                </div>
                <div class="form-group col-lg-6">
                  <label>Mobile Number :</label>
                  <input class="form-control" list="json-datalist" name="mbn" [(ngModel)]="sub1.studentId" autocomplete="off" #mbno id="asstudmobileno"
                    (keyup)="search($event)" placeholder="Mobile no">
                  <datalist id="json-datalist">
                    <option value=" {{sub.studentName}}/{{sub.studentId}}" *ngFor="let sub of assign1">{{mbno.value}}</option>
                  </datalist>
                </div>
              </div>
              <button class="btn btn-primary mx-3 my-2" id="addassignstudents" data-toggle="modal" data-target="#exampleModal">Add</button>
            </form>
        </div>
      </div></div>
        <div class=" d-flex justify-content-center">
        <div class="card my-5 col-sm-3 col-md-12 col-lg-6">
            <div class="container">
                <div class="table-wrapper">
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Student Name</th>
                    <th>Student Mobile Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sub2 of getassign">
                    <td>{{sub2.studentName}}</td>
                    <td>{{sub2.studentMobile}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div></div>
  