      <section class="row d-lg-flex d-md-flex flex-lg-row flex-sm-column justify-content-lg-center">
        <div class="col-md-auto col-lg-2 mx-5 mb-3">
          <button type="button" id="submitcourse" class="btn btn-primary" routerLink="/coursetracking/addcourse">Course</button>
        </div>
        <div class="col-md-auto col-lg-2 mx-5 mb-3">
          <button type="button" id="submitsubject" class="btn btn-info b" routerLink="/coursetracking/addsubject">Subject</button>
        </div>
        <div class="col-md-auto col-lg-2 mx-5 mb-3">
          <button type="button" id="submittopic" class="btn btn-secondary" routerLink="/coursetracking/addtopic">Topic</button>
        </div>
      </section>
   