button{
    height:100px;
    width:200px;
font-family:'Source Sans Pro',sans-serif;
font-size: 30px
}
.b{
    background-color: #222d32
}
ul li{
    list-style-type:none;
}
.sp
{
    padding-left: 7px;
}
.navbar{
    padding:0px !important;
}
.submenu li {
    margin-left:10px;
}
.content-wrapper
{
    min-height: 616px !important;
}
@media (max-width: 1024px)
{
    .content-wrapper {
      min-height: 970px !important;
    }
  }