        <div class="d-flex justify-content-center">
            <div class="card col-lg-6 col-md-12 mt-3">
                <legend>
                    <span class="label label-inverse mr-3">Add Trainer Details</span>
                  </legend>
        <div class="card-body">
            <form #myForm="ngForm" [formGroup]="angForm" autocomplete="off" (ngSubmit)="onSubmit(); myForm.reset()" action="">
              <div class="form-group" [class.has-error]="angForm.controls['trainername'].invalid && (angForm.controls['trainername'].dirty || angForm.controls['trainername'].touched)">
                <label>Trainer Name :</label>
                <input class="form-control" id="trainername" formControlName="trainername" [(ngModel)]="trainer.trainerName" placeholder="Trainer Name">
              </div>
              <div *ngIf="angForm.controls['trainername'].invalid && (angForm.controls['trainername'].dirty || angForm.controls['trainername'].touched)"
              class="text-danger help-block">
              Trainer Name is required.
            </div>
              <div class="form-group">
                <label>Qualification :</label>
                <input class="form-control" formControlName="quali" id="qualification" [(ngModel)]="trainer.trainerQualification" placeholder="Qualification" required>
              </div>
              <div class="form-group" [class.has-error]="angForm.controls['mobile'].invalid && (angForm.controls['mobile'].dirty || angForm.controls['mobile'].touched)">
                <label>Mobile No. :</label>
                <input class="form-control" formControlName="mobile" id="trainermbno" [(ngModel)]="trainer.mobile" placeholder="Mobile no">
              </div>
              <div *ngIf="angForm.controls['mobile'].invalid && (angForm.controls['mobile'].dirty || angForm.controls['mobile'].touched)"
              class="text-danger help-block">
              Valid Phone Number is required.
            </div>
              <div class="form-group" [class.has-error]="angForm.controls['mail'].invalid && (angForm.controls['mail'].dirty || angForm.controls['mail'].touched)">
                <label>Mail Id :</label>
                <input class="form-control" formControlName="mail" id="trainermailid" [(ngModel)]="trainer.mailId" placeholder="Mail id">
              </div>
              <div *ngIf="angForm.controls['mail'].invalid && (angForm.controls['mail'].dirty || angForm.controls['mail'].touched)"
              class="text-danger help-block">
              Valid email is required.
            </div>
              <div class="form-group">
                <label>Technology Taken :</label>
                <select class="form-control custom-select" formControlName="techtaken" id="technologytaken" [(ngModel)]="trainer.technologyUndertaken" placeholder="Technology Taken">
                  <option>Java</option>
                  <option>UI/UX</option>
                  <option>DotNet</option>
                </select>
              </div>
              <div class="form-group">
                <label>Trainer Password</label>
                <input type="password" id="trainerpassword" class="form-control" [(ngModel)]="trainer.trainerPassword" formControlName="trainerpassword"
                  placeholder="password">
              </div>
              <button class="btn btn-primary my-2" id="submittrainer" [disabled]="myForm.invalid" data-toggle="modal" data-target="#exampleModal">Submit</button>
              <br>
            </form>
        </div>
      </div></div><br>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div *ngIf="result1; then condition1 else condition2"></div>
              <ng-template #condition1>Success</ng-template>
              <ng-template #condition2>Failed</ng-template>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="submittrainermodal" data-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
   