button{
    height:100px;
    width:200px;
font-family:'Source Sans Pro',sans-serif;
font-size: 30px
}
legend{
    width:auto;
    padding:0 10px; 
    border-bottom:none;
    font-size: 14px;
}
label{
    font-size: 12px;
}
.content-wrapper
{
    min-height: 616px !important;
}
@media (max-width: 1024px)
{
    .content-wrapper {
      min-height: 970px !important;
    }
  }
 