        <div class="d-flex justify-content-center">
      <div class="card col-lg-6 col-md-12 mt-3">
          <legend>
              <span class="label label-inverse mr-3">Add Course</span>
            </legend>
        <div class="card-body">
            <form #myForm="ngForm" (ngSubmit)="onSubmit(); myForm.reset()">
              <div class="form-group">
                <label>Course Name :</label>
                <input class="form-control" name="cname" id="adccname" [(ngModel)]="course.courseName" placeholder="Course Name">
              </div>
              <div class="form-group">
                <label>Course Description :</label>
                <input class="form-control" name="cdescription" id="adccdes" [(ngModel)]="course.courseDescription" placeholder="Course Description">
              </div>
              <button class="btn btn-primary my-2" id="submitcourse1" data-toggle="modal" data-target="#exampleModal">Submit</button>
              <br>
            </form>
        </div>
      </div></div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div *ngIf="course; then condition1 else condition2"></div>
              <ng-template #condition1>Success</ng-template>
              <ng-template #condition2>Failed</ng-template>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="addcoursebackmodal" data-dismiss="modal">Back</button>
              <button type="button" class="btn btn-primary" id="addcoursenextmodal" data-dismiss="modal" (click)="gotoadd()">Next</button>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="card my-5 col-lg-6 col-md-12 ">
            <div class="container">
                <div class="table-responsive table-wrapper">
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Course Name</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let courses of course1">
                    <td>{{ courses.courseName }}</td>
                    <td>{{ courses.courseDescription }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div></div>
   