      <div class="d-lg-flex d-md-flex flex-row mt-3 justify-content-center">
        <div class="card col-lg-6">
            <legend>
                <span class="label label-inverse mr-3">Batch Generation Details</span>
              </legend>
          <div class="card-body">
              <form #myForm="ngForm" (ngSubmit)="onSubmit(); myForm.reset()">
                <div class="form-group">
                  <label>Month and Year of Joining :</label>
                  <input type="date" (blur)="generate()" class="form-control" id="addbdate" name="date" #date placeholder="Year of passing">
                </div>
                <div class="form-group">
                  <label>Course :</label>
                  <select id="addbcourse" (change)="generate()" class="form-control custom-select" #course_name_1 name="course">
                    <option *ngFor="let batch of course" value={{batch.courseName}}>
                      {{batch.courseName}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Type of Student :</label>
                  <select (change)="generate()" class="form-control custom-select" #type id="addbtype" name="stu">
                    <option value=""></option>
                    <option value="Upskilling">UpSkilling</option>
                    <option value="Fresher">Fresher</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Batch Name Generation :</label>
                  <input (blur)="generate()" #batchname id="addbbatchname" type="text" class="form-control" [(ngModel)]="batch.batchName" name="batchName"
                  />
                </div>
                <div class="form-group">
                  <label>Course :</label>
                  <select id="addbcourse1" class="form-control custom-select" name="course" [(ngModel)]="batch.courseId">
                    <option *ngFor="let batch of course" value={{batch.courseId}}>
                      {{batch.courseName}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Student Status :</label>
                  <select class="form-control custom-select" id="exampleFormControlSelect1" [(ngModel)]="batch.batchStatus" name="type">
                    <option>Finished</option>
                    <option>Current</option>
                    <option>Upcoming</option>
                  </select>
                </div>
                <button id="addbsubmit" class="btn btn-primary my-2" data-toggle="modal" data-target="#exampleModal">Submit</button>
                <br>
              </form>
          </div>
        </div>
      </div><br>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div *ngIf="result1; then condition1 else condition2"></div>
              <ng-template #condition1>Success</ng-template>
              <ng-template #condition2>Failed</ng-template>
            </div>
            <div class="modal-footer">
              <button type="button" id="addbatchmodal" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
   