<div class="wrapper">
    <header class="main-header">
      <a class="logo">
        <span class="logo-mini">SMI</span>
        <span class="logo-lg">
          <b>SMI</b>Innothink</span>
      </a>
      <nav class="navbar navbar-static-top">
        <a href="#" id="toggle" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav d-flex flex-row">
            <li>
              <a id="dashboard" routerLink="/dashboard">
                <i class="fa fa-delicious mx-2"></i>
                <b>Dashboard</b>
              </a>
            </li>
            <li>
              <a id="login" routerLink="/login">
                <i class="fa fa-power-off mx-3" style="color:white;"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  
    <aside class="main-sidebar">
      <section class="sidebar">
        <ul class="sidebar-menu accordion" data-widget="tree">
          <li class="header">Main Navigation</li>
          <li class="treeview">
            <a id="attendance" data-toggle="collapse" href="#multiCollapse1" role="button" aria-expanded="false" aria-controls="multiCollapse1">
              <i class="fa fa-dashboard"></i>
              <span class="sp">Attendance</span>
              <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapse1">
                  <ul class="submenu">
                    <li>
                      <a id="daily" routerLink="/attendance/daily">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">Daily</span>
                      </a>
                    </li>
                    <li>
                      <a id="topiccover" routerLink="/attendance/topiccov">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">Topics Covered</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="treeview">
            <a id="batch" data-toggle="collapse" href="#multiCollapse2" role="button" aria-expanded="false" aria-controls="multiCollapse2">
              <i class="fa fa-users"></i>
              <span class="sp">Batch</span>
              <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapse2">
                  <ul class="submenu">
                    <li>
                      <a routerLink="/batch/addb" id="batchadd">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">Add</span>
                      </a>
                    </li>
                    <li>
                      <a routerLink="/batch/assignstudent" id="batchassign">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">Assign Student</span>
                      </a>
                    </li>
                    <li>
                      <a routerLink="/batch/studentupdation" id="studentupdation">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">Student Updation</span>
                      </a>
                    </li>
                    <li>
                      <a routerLink="/batch/batchupdation" id="batchupdation">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">Batch Updation</span>
                      </a>
                    </li>
                    <li>
                      <a routerLink="/batch/viewb" id="batchview">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">View</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="treeview">
            <a id="student" data-toggle="collapse" href="#multiCollapse3" role="button" aria-expanded="false" aria-controls="multiCollapse3">
              <i class="fa fa-user-plus"></i>
              <span class="sp">Student</span>
              <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapse3">
                  <ul class="submenu">
                    <li>
                      <a routerLink="/student/freshers" id="fresher">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">Freshers</span>
                      </a>
                    </li>
                    <li>
                      <a routerLink="/student/upskilling" id="upskilling">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">Upskilling</span>
                      </a>
                    </li>
                    <li>
                      <a routerLink="/student/views" id="studentview">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">View</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="treeview">
            <a id="coursetracking" data-toggle="collapse" href="#multiCollapse4" role="button" aria-expanded="false" aria-controls="multiCollapse4">
              <i class="fa fa-files-o"></i>
              <span class="sp">Course Tracking</span>
              <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapse4">
                  <ul class="submenu">
                    <li>
                      <a routerLink="/coursetracking/add" id="courseadd">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">Add</span>
                      </a>
                    </li>
                    <li>
                      <a routerLink="/coursetracking/viewc" id="courseview">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">View</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="treeview">
            <a id="trainer" data-toggle="collapse" href="#multiCollapse5" role="button" aria-expanded="false" aria-controls="multiCollapse5">
              <i class="fa fa-user"></i>
              <span class="sp">Trainer</span>
              <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapse5">
                  <ul class="submenu">
                    <li>
                      <a routerLink="/trainer/addt" id="traineradd">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">Add</span>
                      </a>
                    </li>
                    <li>
                      <a routerLink="/trainer/viewt" id="trainerview">
                        <i class="fa fa-circle-o"></i>
                        <span class="sp">View</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="treeview">
              <a id="assessment" data-toggle="collapse" href="#multiCollapse6" role="button" aria-expanded="false" aria-controls="multiCollapse5">
                <i class="fa fa-pencil-square-o"></i>
                <span class="sp">Assessment</span>
                <i class="fa fa-angle-down pull-right"></i>
              </a>
              <div class="row">
                <div class="col">
                  <div class="collapse multi-collapse" id="multiCollapse6">
                    <ul class="submenu">
                      <li>
                        <a routerLink="/assesment/assign" id="assign">
                          <i class="fa fa-circle-o"></i>
                          <span class="sp">Assign</span>
                        </a>
                      </li>
                      <li>
                        <a routerLink="/assesment/update" id="assessmentupdate">
                          <i class="fa fa-circle-o"></i>
                          <span class="sp">Update</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          <li class="treeview">
            <a id="reports" routerLink="/reports/reports">
              <i class="fa fa-file-text-o"></i>
              <span class="sp">Reports</span>
            </a>
          </li>
          <li class="treeview">
            <a id="otherforms" routerLink="/otherforms">
              <i class="fa fa-file-text-o"></i>
              <span class="sp">OtherForms </span>
            </a>
          </li>
        </ul>
      </section>
    </aside>
  
  <div class="content-wrapper">
    <section class="content-header">
      <form #myForm="ngForm" (ngSubmit)="onSubmit(); myForm.reset()" action="" >
          <div class="d-lg-flex d-md-flex flex-row ">
        <div class="card col-sm-3 col-md-4 mb-2">
            <legend>
                <span class="label label-inverse mr-2">Student Details</span>
              </legend>
          <div class="card-body">
                <div class="form-group">
                  <label for="studentname">Student Name :</label>
                  <input type="text" class="form-control" [(ngModel)]="student.studentName" id="studentname" name="studentname" placeholder="Student Name" aria-required="true" data-ok="false">
                </div>
                <div class="form-group">
                  <label>Date of Joining :</label>
                  <input type="date" class="form-control" [(ngModel)]="student.dateOfJoining" id="doj" name="studentdoj" placeholder="Date of Joining" required>
                </div>
                <div class="form-group">
                  <label>Mobile No :</label>
                  <input type="tel" class="form-control"  pattern="[0-9]{10}" [(ngModel)]="student.studentMobile" id="mobile" name="studentmobile" placeholder="Mobile no" required>
                </div>
                <div class="form-group">
                  <label>Mail Id :</label>
                  <input type="email" class="form-control" [(ngModel)]="student.studentEmail" id="mail" name="studentemail" placeholder="Mail Id" required>
                </div>
                <div class="form-group">
                  <label>Bond :</label>
                  <br>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="yes" value="yes" name="bond" [(ngModel)]="bond">
                    <label class="form-check-label">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="no" value="no" name="bond" [(ngModel)]="bond">
                    <label class="form-check-label">No</label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Training Duration :</label>
                  <input type="date" class="form-control" [(ngModel)]="student.duration" id="trdr" name="studenttrainingd" placeholder="Training Duration" required>
                </div>
                <div class="form-group">
                  <label>Salary Type :</label>
                  <br>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="stipend" value="stipend" [(ngModel)]="salary" name="salary">
                    <label class="form-check-label">Stipend</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="salary" value="salary" [(ngModel)]="salary" name="salary">
                    <label class="form-check-label">Salary</label>
                  </div>
                </div></div></div>
                <div class="card col-sm-3 col-md-4 mx-2 mb-2">
                    <legend>
                        <span class="label label-inverse mr-2">Amenities</span>
                      </legend>  
                  <div class="card-body">
                <div class="form-group">
                  <label>Stay details :</label>
                  <select class="form-control custom-select" [(ngModel)]="student.stayDetails" id="stay" name="stay">
                    <option value="hostel">hostel</option>
                    <option value="dayscholar">dayscholar</option>
                    <option value="cab">cab</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>College :</label>
                  <input type="text" class="form-control" [(ngModel)]="ameneties.studentCollege" id="college" name="studentcollege" placeholder="College" required>
                </div>
                <div class="form-group">
                  <label>Qualification :</label>
                  <select class="form-control custom-select" [(ngModel)]="ameneties.qualification" id="qualification" name="qualification">
                    <option value="BE">BE</option>
                    <option value="ME">ME</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Year of passing :</label>
                  <input type="text" class="form-control" [(ngModel)]="ameneties.yearOfPassing" id="yop" name="studentyop" placeholder="Year of passing" required>
                </div>
                <div class="form-group">
                  <label>Stream :</label>
                  <select class="form-control custom-select" id="stream" name="stream" [(ngModel)]="ameneties.stream">
                    <option value="EEE">EEE</option>
                    <option value="ECE">ECE</option>

                  </select>
                </div>
                <div class="form-group">
                  <label>Mode of selection :</label>
                  <select class="form-control custom-select" id="mos" name="mos" [(ngModel)]="student.mode">
                    <option value="on-campus">On-Campus</option>
                    <option value="off-campus">Off-Campus</option>
                    <option value="reference">Reference</option>
                  </select>
                </div>
</div></div>            
 <div class="card col-sm-3 col-md-4 mb-2">
    <legend>
        <span class="label label-inverse mr-2">Personal Details</span>
      </legend>
    <div class="card-body">
                <div class="form-group">
                  <label>Address :</label>
                  <textarea class="form-control" [(ngModel)]="studentpd.studentAddress" id="address" name="studentaddress"></textarea>
                </div>
                <div class="form-group">
                  <label>Parent's No :</label>
                  <input type="tel" class="form-control" [(ngModel)]="studentpd.parentMobile" id="parentsmobile" name="studentpmobile" placeholder="Parent's no" required>
                </div>
                <div class="form-group">
                  <label>Alternate No :</label>
                  <input type="tel" class="form-control" [(ngModel)]="studentpd.studentAlternateMobile" id="alternatemobile" name="studentalternateno"
                    placeholder="Alternate no" required>
                </div>
                <div class="form-group">
                  <label>Date of Birth :</label>
                  <input type="date" class="form-control" [(ngModel)]="studentpd.dateOfBirth" id="dob" name="studentdob" placeholder="DOB" required>
                </div>
                <div class="form-group">
                  <label>Gender :</label>
                  <br>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="male" id="male" name="gender" [(ngModel)]="gender">
                    <label class="form-check-label">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="female" id="female" name="gender" [(ngModel)]="gender">
                    <label class="form-check-label">Female</label>
                  </div>
                </div>
                <button class="btn btn-primary my-2" id="submitstudent" data-toggle="modal" data-target="#exampleModal" aria-disabled="true" aria-describedby="error">Submit</button>
                <br>
</div></div></div>
      </form>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div *ngIf="ameneties; then condition1 else condition2"></div>
              <ng-template #condition1>Success</ng-template>
              <ng-template #condition2>Failed</ng-template>
            </div>
            <div class="modal-footer">
              <button type="button" id="submitstudentmodal" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>