<div class="wrapper">
  <header class="main-header">
    <a href="#" class="logo">
      <span class="logo-mini">SMI</span>
      <span class="logo-lg">
        <b>SMI</b>Innothink</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" id="toggle" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav d-flex flex-row">
          <li>
            <a id="dashboard" routerLink="/dashboard">
              <i class="fa fa-delicious mx-2"></i>
              <b>Dashboard</b>
            </a>
          </li>
          <li>
            <a id="login" href="/">
              <i class="fa fa-power-off mx-3" style="color:white; background-color: inherit;"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Main Navigation</li>
        <li class="treeview">
          <a href="#" id="attendance">
            <i class="fa fa-dashboard"></i>
            <span class="sp">Attendance</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a id="daily" routerLink="/attendance/daily">
                <i class="fa fa-circle-o"></i>daily</a>
            </li>
            <li>
              <a id="topiccover" routerLink="/attendance/topiccov">
                <i class="fa fa-circle-o"></i>Topics Covered</a>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#" id="batch">
            <i class="fa fa-users"></i>
            <span class="sp">Batch</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a routerLink="/batch/addb" id="batchadd">
                <i class="fa fa-circle-o"></i>Add</a>
            </li>
            <li>
              <a routerLink="/batch/assignstudent" id="batchassign">
                <i class="fa fa-circle-o"></i>Assign Students</a>
            </li>
            <li>
              <a routerLink="/batch/studentupdation" id="studentupdation">
                <i class="fa fa-circle-o"></i>Student Updation</a>
            </li>
            <li>
              <a routerLink="/batch/batchupdation" id="batchupdation">
                <i class="fa fa-circle-o"></i>Batch Updation</a>
            </li>
            <li>
              <a routerLink="/batch/viewb" id="batchview">
                <i class="fa fa-circle-o"></i>View</a>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#" id="student">
            <i class="fa fa-user-plus"></i>
            <span class="sp">Student</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a routerLink="/student/freshers" id="fresher">
                <i class="fa fa-circle-o"></i>fresher</a>
            </li>
            <li>
              <a routerLink="/student/upskilling" id="upskilling">
                <i class="fa fa-circle-o"></i>upskilling</a>
            </li>
            <li>
              <a routerLink="/student/views" id="studentview">
                <i class="fa fa-circle-o"></i>View</a>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#" id="coursetracking">
            <i class="fa fa-files-o"></i>
            <span class="sp">Course Tracking</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a routerLink="/coursetracking/add" id="courseadd">
                <i class="fa fa-circle-o"></i>Add</a>
            </li>
            <li>
              <a routerLink="/coursetracking/viewc" id="courseview">
                <i class="fa fa-circle-o"></i>View</a>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#" id="trainer">
            <i class="fa fa-user"></i>
            <span class="sp">Trainer</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a routerLink="/trainer/addt" id="traineradd">
                <i class="fa fa-circle-o"></i>Add</a>
            </li>
            <li>
              <a routerLink="/trainer/viewt" id="trainerview">
                <i class="fa fa-circle-o"></i>View</a>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#" id="assessment">
            <i class="fa fa-pencil-square-o"></i>
            <span class="sp">Assessment</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a routerLink="/assesment/assign" id="assign">
                <i class="fa fa-circle-o"></i>Assign</a>
            </li>
            <li>
              <a routerLink="/assesment/update" id="assessmentupdate">
                <i class="fa fa-circle-o"></i>Update</a>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a id="reports" routerLink="/reports/reports">
            <i class="fa fa-file-text-o"></i>
            <span class="sp">Reports</span>
          </a>
        </li>
        <li class="treeview">
          <a id="otherforms" routerLink="/otherforms">
            <i class="fa fa-file-text-o"></i>
            <span class="sp">OtherForms</span>
          </a>
        </li>
        <li class="treeview">
          <a id="otherforms" routerLink="/feedback">
            <i class="fa fa-pencil-square-o"></i>
            <span class="sp">Mentor Feedback</span>
          </a>
        </li>
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <section class="content-header">
      <br>
      <router-outlet></router-outlet>
    </section>
    <div class="control-sidebar-bg"></div>
  </div>
</div>