<div class="wrapper">
  <header class="main-header">
    <a class="logo">
      <span class="logo-mini">SMI</span>
      <span class="logo-lg">
        <b>SMI</b>Innothink</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#"
         id="toggle"
         class="sidebar-toggle"
         data-toggle="push-menu"
         role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav d-flex flex-row">
          <li>
            <a id="dashboard"
               routerLink="/dashboard">
              <i class="fa fa-delicious mx-2"></i>
              <b>Dashboard</b>
            </a>
          </li>
          <li>
            <a id="login"
               routerLink="/login">
              <i class="fa fa-power-off mx-3"
                 style="color:white;"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu accordion"
          data-widget="tree">
        <li class="header">Main Navigation</li>
        <li class="treeview">
          <a id="attendance"
             data-toggle="collapse"
             href="#multiCollapse1"
             role="button"
             aria-expanded="false"
             aria-controls="multiCollapse1">
            <i class="fa fa-dashboard"></i>
            <span class="sp">Attendance</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse"
                   id="multiCollapse1">
                <ul class="submenu">
                  <li>
                    <a id="daily"
                       routerLink="/attendance/daily">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">Daily</span>
                    </a>
                  </li>
                  <li>
                    <a id="topiccover"
                       routerLink="/attendance/topiccov">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">Topics Covered</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="treeview">
          <a id="batch"
             data-toggle="collapse"
             href="#multiCollapse2"
             role="button"
             aria-expanded="false"
             aria-controls="multiCollapse2">
            <i class="fa fa-users"></i>
            <span class="sp">Batch</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse"
                   id="multiCollapse2">
                <ul class="submenu">
                  <li>
                    <a routerLink="/batch/addb"
                       id="batchadd">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">Add</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/batch/assignstudent"
                       id="batchassign">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">Assign Student</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/batch/studentupdation"
                       id="studentupdation">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">Student Updation</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/batch/batchupdation"
                       id="batchupdation">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">Batch Updation</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/batch/viewb"
                       id="batchview">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">View</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="treeview">
          <a id="student"
             data-toggle="collapse"
             href="#multiCollapse3"
             role="button"
             aria-expanded="false"
             aria-controls="multiCollapse3">
            <i class="fa fa-user-plus"></i>
            <span class="sp">Student</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse"
                   id="multiCollapse3">
                <ul class="submenu">
                  <li>
                    <a routerLink="/student/freshers"
                       id="fresher">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">Freshers</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/student/upskilling"
                       id="upskilling">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">Upskilling</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/student/views"
                       id="studentview">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">View</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="treeview">
          <a id="coursetracking"
             data-toggle="collapse"
             href="#multiCollapse4"
             role="button"
             aria-expanded="false"
             aria-controls="multiCollapse4">
            <i class="fa fa-files-o"></i>
            <span class="sp">Course Tracking</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse"
                   id="multiCollapse4">
                <ul class="submenu">
                  <li>
                    <a routerLink="/coursetracking/add"
                       id="courseadd">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">Add</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/coursetracking/viewc"
                       id="courseview">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">View</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="treeview">
          <a data-toggle="collapse"
             href="#multiCollapse5"
             role="button"
             aria-expanded="false"
             aria-controls="multiCollapse5">
            <i class="fa fa-user"></i>
            <span class="sp">Trainer</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse"
                   id="multiCollapse5">
                <ul class="submenu">
                  <li>
                    <a routerLink="/trainer/addt">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">Add</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/trainer/viewt">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">View</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="treeview">
          <a data-toggle="collapse"
             href="#multiCollapse6"
             role="button"
             aria-expanded="false"
             aria-controls="multiCollapse5">
            <i class="fa fa-user"></i>
            <span class="sp">Assessment</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse"
                   id="multiCollapse6">
                <ul class="submenu">
                  <li>
                    <a routerLink="/assesment/assign">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">Assign</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/assesment/update">
                      <i class="fa fa-circle-o"></i>
                      <span class="sp">Update</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="treeview">
          <a id="reports"
             routerLink="/reports/reports">
            <i class="fa fa-file-text-o"></i>
            <span class="sp">Reports </span>
          </a>
        </li>
        <li class="treeview">
          <a id="otherforms"
             routerLink="/otherforms">
            <i class="fa fa-file-text-o"></i>
            <span class="sp">OtherForms </span>
          </a>
        </li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <section class="content-header">
      <div class="card col-lg-6 col-md-12">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col-lg-2">Date</th>
                  <th scope="col-lg-2">Batch</th>
                  <th scope="col-lg-2">Type</th>
                  <th scope="col-lg-2">Total Marks</th>
                  <th scope="col-lg-2">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let test of bat1;let i=index">
                  <td>{{test.assignDate }}</td>
                  <td>{{ bat[i]}}</td>
                  <td>{{test.assesmentType }}</td>
                  <td>{{test.totalMarks }}</td>
                  <td><input type="hidden"
                           [(ngModel)]="test.assignAssesmentId"
                           name="id"
                           value="{{test.assignAssesmentId}}"
                           #my />
                    <button (click)="onSubmit(my.value)"
                            class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#exampleModal"
                            value="sample">Update</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal fade"
           id="exampleModal"
           tabindex="-1"
           role="dialog"
           aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog"
             role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"
                  id="exampleModalLabel">Message</h5>
              <button type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="table-responsive">
                <form>
                  <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col-lg-2">Student Name</th>
                        <th scope="col-lg-2">Total Marks</th>
                        <th scope="col-lg-2">Obtained Marks</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let a of snm;let i=index">
                        <td>{{a}}</td>
                        <td>{{f[i]}}</td>                        
                        <td ><input type="hidden"
                                 #aid
                                 name="said" />                          
                          <input type="hidden"
                                 #totmark                                 
                                 value="{{tot[i]}}"
                                 name="aid" />
                          <input type="hidden"
                                 #stid                                
                                 value="{{sid[i]}}"
                                 name="sid" />
                          <input type="text" 
                                 (blur)="updation(my.value,totmark.value,stid.value)"
                                 name="marks" #my value="{{my.value}}"
                                 /></td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" (click)="onSubmitMarks()"
                          class="btn btn-secondary">Submit</button>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>