      <div class="d-flex justify-content-center">
      <div class="card card1 col-md-12 col-lg-6 mt-3">
          <legend>
              <span class="label label-inverse mr-3">Attendance</span>
            </legend>
        <div class="card-body">
            <form #myForm="ngForm" (ngSubmit)="onSubmit(); myForm.reset()">
              <div class="d-lg-flex d-md-flex flex-lg-row flex-sm-column">
                <div class="form-group col-lg-6">
                  <label>Date:</label>
                  <input type="date" id="dailydate" class="form-control" [(ngModel)]="obj.attendanceDate" name="date" required>
                </div>
                <div class="form-group col-lg-6">
                  <label>Batch Name :</label>
                  <select class="form-control custom-select" id="dailybname" [(ngModel)]="obj.batchId" name="batchId" #mySelect (change)=' onOptionsSelected(mySelect.value)'
                   required >
                   <option *ngFor="let abc of assign" value="{{abc.batchId}}">{{abc.batchName}}</option>
                  </select>
                </div>
              </div>
              <button id="dailysubmitadd" class="btn btn-primary m-3">Add</button>
            </form>
        </div>
      </div></div>
      <fieldset class="col-md-12 col-lg-12 col-xs-4">
        <div class="card my-5 ">
            <div class="container">
                <div class="table-responsive table-wrapper">
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Student</th>
                    <th>Session</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let sub of getassign | paginate: { itemsPerPage: count, currentPage: p };'>
                    <td>
                      {{sub.studentName}}</td>
                    <td>
                      <label class="switch">
                        <input type="checkbox" id="tog" (change)='onchange($event)'>
                        <span class="slider round"><span class="on">FN</span><span class="off">AN</span></span>
                      </label>
                    </td>
                    <td>
                      <label class="switch">
                        <input type="checkbox" id="tog1" (change)='onchange1($event,sub.studentId,obj.attendanceDate)'>
                        <span class="slider round"><span class="on1">P</span><span class="off1">A</span></span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div></fieldset>
    