.b
{
    border:1px solid black !important;
}
legend{
    width:auto;
    padding:0 10px; 
    border-bottom:none;
    font-size: 14px;
}
label{
    font-size: 12px;
}
.col-md-4
{
    padding-right: 0px !important;
}
.form-control
{
    padding:0px !important;
}
ul li{
    list-style-type:none;
}
.sp
{
    padding-left: 7px;
}
.navbar{
    padding:0px !important;
}
.submenu li {
    margin-left:10px;
}
.content-wrapper
{
    min-height: 616px !important;
}
@media (max-width: 1024px)
{
    .content-wrapper {
      min-height: 970px !important;
    }
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:red;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:green;
  } 
  input:checked + .slider:before {
   
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }