        <div class="card my-5 col-md-12 col-lg-12 col-xs-4">
            <div class="container">
               <div class="table-responsive table-wrapper">
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Trainer Name</th>
                    <th>Qualification</th>
                    <th>Mobile No</th>
                    <th>Mail Id</th>
                    <th>Courses Taken</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trainers of trainer | paginate: { itemsPerPage: count, currentPage: p }">
                    <td>{{trainers.trainerName }}</td>
                    <td>{{trainers.trainerQualification }}</td>
                    <td>{{trainers.mobile}}</td>
                    <td>{{trainers.mailId}}</td>
                    <td>{{trainers.technologyUndertaken}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-right">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>

       