        <div class="d-flex justify-content-center">
      <div class="card col-lg-6 col-md-12 mt-1">
          <legend>
              <span class="label label-inverse mr-3">Topics Covered</span>
            </legend>
        <div class="card-body">
            <form #myForm="ngForm" (ngSubmit)="onSubmit(); myForm.reset()">
              <div class="form-group">
                <label>Date:</label>
                <input type="date" id="tcdate" class="form-control" [(ngModel)]="abcd.date" name="date">
              </div>
              <div class="form-group">
                <label>Batch Name :</label>
                <select class="form-control custom-select" id="tcbname" [(ngModel)]="abcd.batchId" name="batchId" #mySelect (change)='onOptionsSelected(mySelect.value)'>
                  <option *ngFor="let abc of assign" value="{{abc.batchId}}">{{abc.batchName}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Course Name :</label>
                <select class="form-control custom-select" id="tccname" [(ngModel)]="abcd.courseId" name="courseID" #mySelect (change)='onOptionsSelected2(mySelect.value)'>
                  <option *ngFor="let sub of course" value="{{sub.courseId}}">{{sub.courseName}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Subject Name :</label>
                <select class="form-control custom-select" id="sname" [(ngModel)]="abcd.subjectId" name="subjectId" #mySelect1 (change)='onOptionsSelected1(mySelect1.value)'>
                  <option *ngFor="let sub of getSubject" value="{{sub.subjectId}}">{{sub.subjectName}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Topic Name :</label>
                <select class="form-control custom-select" id="tctname" [(ngModel)]="abcd.topicId" name="topicId">
                  <option *ngFor="let sub of gettopic" value="{{sub.topicId}}">{{sub.topicName}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Trainer Name :</label>
                <select class="form-control custom-select" id="tcotrname" [(ngModel)]="abcd.trainerId" name="trainerId">
                  <option *ngFor="let sub of trainer" value="{{sub.trainerId}}">{{sub.trainerName}}</option>
                </select>
              </div>
              <!--<div class="form-group">
                <label>Topic Duration(Hours) :</label>
                <input type="text" class="form-control" id="tcduration" [(ngModel)]="abcd.duration" name="topicId">
              </div>-->
              <button id="submittopiccovered" class="btn btn-primary my-2">Add</button>
            </form></div>
        </div>
      </div><br><br>
   